@model CarInsurance.Models.Insuree

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Insuree</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarMake)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarMake)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarModel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarModel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DUI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DUI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SpeedingTickets)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SpeedingTickets)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CoverageType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoverageType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quote)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
